<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> and welcome!</h1>
    <p>
      You subscribed to The Gossip Project with the email: <%= @user.email %>.
    </p>
    <p>
      Access to your profile with the link: <%= @url %>.
    </p>
    <p> See you soon on The Gossip Project!
  </body>
</html>