<html>


<body>
  <h1 style="padding-bottom: 80px">New comment</h1>



  <!-- ... -->
  <%= form_tag url_for(action: 'create'), method: "post", class: "form" do %>

  <%= label_tag 'Content' %>
  <%= text_area_tag 'content'%>
  <br /> <br />


  <%= submit_tag "Create comment" %>



  <% end %>


  <!-- ... -->
</body>

</html>