<html>

    <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>We couldn't edit the Gossip because :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

<h1>Edit Gossip</h1>


<body>

<%= form_for @gossip do |f| %>
  <div >
  <label >Title </label>
  <%= f.text_field :title, class: 'form-control' %>
  <label >Content </label>
  <%= f.text_area :content, class: 'form-control' %>
</div>
<div>
  <button type="submit" class="btn btn-primary"> Edit </button>
</div>
<% end %>


</body>

</html>